@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DNFBitBitTTF';
  src: url('/fonts/DNFBitBitTTF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Galmuri11';
  src: url('/fonts/Galmuri11.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .custom-grid li:nth-child(3n + 2) {
    position: relative;
    transform: translateY(-13px);
  }
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  position: relative;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea,
input,
button {
  outline: none;
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
}
button {
  cursor: pointer;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus {
    outline: none;
  }
}

/* input 자동완성 시 배경색상 변경 방지 */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #fff !important;
}
