@tailwind base;
@tailwind components;
@tailwind utilities;

/* 최적화 후 폰트 코드 */
@font-face {
  font-family: 'Galmuri11';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Galmuri11/Galmuri11-Regular.woff2')
    format('woff2');
}

@font-face {
  font-family: 'bitbit';
  font-display: swap;
  src: url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2');
}

@layer utilities {
  .custom-grid li:nth-child(3n + 2) {
    position: relative;
    transform: translateY(-13px);
  }
}

html,
body {
  overflow-x: hidden;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

textarea,
input,
button {
  outline: none;
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
}

/* input 자동완성 시 배경색상 변경 방지 */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-transition: background-color 9999s ease-out;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #fff !important;
}
